*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1350px;
    margin: 0 auto;
}
.row{
    width: 1200px;
    margin: 0 auto;
}
.row button{
    width: 200px;
    height: 70px;
}